.footer {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 3rem;
  padding: 4rem 2.5rem;
  position: relative;
  z-index: 10;
  color: var(--color-light-4);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, var(--color-violet-3) 0%, var(--color-violet-2) 50%, var(--color-violet-3) 100%);
  }

  // OTHER STYLES FOR FOOTER IN MAIN PAGES - START
  &--main {
    background-color: var(--color-light-4);
    color: var(--color-dark-1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, var(--color-grey-1-transparent) 0%, var(--color-light-5) 50%, var(--color-grey-1-transparent) 100%);
    }
  }
  // END

  &__content {
    text-align: center;
    font-size: 1.4rem;
  }

  &__info-wrapper {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 1.4rem;
  }

  &__link {
    height: 3.5rem;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;

    &--intro {
      fill: var(--color-light-4);
    }

    &--main {
      fill: var(--color-blue-5);
    }

    &--1 {
      &:hover {
        animation: linkedin-animation 1s infinite linear;
      }
    }

    &--2 {
      margin: 0 1rem 0 7rem;
    }
  }
}