// STYLING ALL CONTENT IN PAGES AFTER LOGGING IN
.main-page {
  margin-top: 8vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 6rem;
}