// TOPBAR WHICH IS DISPLAYED ON ALL PAGES AFTER LOGGING IN
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green-4);
  margin-bottom: 1px solid var(--color-green-6);
  overflow: hidden;
  padding: 0 2rem;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;

  @include size(big-desktop) {
    padding: 0 3rem;
  }

  @include size(tab-land) {
    padding: 0 1rem;
  }

  @include size(tab-port) {
    padding: 0 2rem;
    height: 9vh;
  }

  @media only screen and (max-width: 21.5em){
    padding: 0 1.2rem;
  }

  &__heading {
    cursor: pointer;
  }

  &__back {
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
    fill: var(--color-light-1);

    @include size(tab-land) {
      width: 4.1rem;
      height: 4.1rem;
    }

    @include size(tab-port) {
      width: 4.6rem;
      height: 4.6rem;
    }
  }
}

.top-nav {
  font-size: 1.7rem;
  height: 100%;

  @include size(tab-land) {
    font-size: 1.6rem;
  }

  @media only screen and (min-width: 56.25em) and (hover: none) {
    font-size: 1.9rem;
  }

  @include size(tab-port) {
    display: none;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 2.2rem;
    height: 100%;

    @include size(big-desktop) {
      column-gap: 3.6rem;
    }

    @include size(tab-land) {
      column-gap: .7rem;
    }
  }

  &__item {
    align-self: stretch;
  }

  &__link {
    text-decoration: none;
    color: var(--color-light-1);
    height: 100%;
    transition: all .12s;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    &:hover {
      background-color: var(--color-green-5);
    }
  }

  &__icon {
    fill: var(--color-light-1);
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 1rem;
    filter: var(--drop-shadow-1);

    @include size(tab-land) {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: .7rem;
    }

    @media only screen and (min-width: 56.25em), only screen and (hover: hover) {
      width: 2.6rem;
      height: 2.6rem;
      margin-right: .8rem;
    }
  }
}

.toggler {
  height: 5rem;
  width: 6rem;
  display: none;

  @include size(tab-port) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
  }

  &__icon {
    position: relative;
    transition: all .2s;
    margin-top: calc(2.5rem - 1px);

    &,
    &::before,
    &::after {
      width: 4.2rem;
      display: inline-block;
      height: 2px;
      background-color: var(--color-light-1);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transition: all .2s;
    }

    &::before {
      transform: translateY(-1.3rem);
    }

    &::after {
      transform: translateY(1.3rem);
    }
  }

  &__button:hover &__icon::before {
    transform: translateY(-1.5rem);
  }

  &__button:hover &__icon::after {
    transform: translateY(1.5rem);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before{
    transform: translateY(0) rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after{
    transform: translateY(0) rotate(-135deg);
  }

  // SIDE NAVIGATION
  .side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 92vh;
    margin-top: 8vh;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-light-3);
    z-index: 10;
    transform: translateX(100%);
    transition: all .35s;

    @include size(tab-port) {
      height: 91vh;
      margin-top: 9vh;
    }

    &__list {
      list-style: none;
      display: grid;
      row-gap: 4rem;

      @include size(phone) {
        row-gap: 3rem;
      }
    }

    &__item {
      padding: 0 .5rem;
    }

    &__link {
      color: var(--color-dark-1);
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      color: var(--color-green-4);
      padding: 2rem 5rem;
      justify-content: center;
      border-radius: 20px;
      transition: all .12s;
      background-color: var(--color-light-2);
      border: 1px solid var(--color-light-4);

      @include size(phone) {
        font-size: 2rem;
      }

      &:hover {
        filter: brightness(98%);
      }
    }

    &__icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      fill: var(--color-orange-2);
      filter: var(--drop-shadow-1);
    }
  }

  &__checkbox:checked ~ .side-nav {
    transform: translateX(0);
  }
}