.button {
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  outline: none;
  border: none;
  color: var(--color-light-1);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  transition: all .11s;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0 0 3px rgba(0,0,0,.5);
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }

  &--green {
    background-color: var(--color-green-2);
    border-bottom: 4px solid green;

    &:hover {
      background-color: var(--color-green-3);
    }
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid rgba(19, 20, 36, 0.8);
    border-bottom: 4px solid rgba(19, 20, 36, 0.8);

    &:hover {
      background-color: rgba(0,0,0,0.03);
    }
  }

  &--blue {
    background-color: var(--color-blue-1);
    border-bottom: 4px solid var(--color-blue-3);

    &:hover {
      background-color: var(--color-blue-2);
    }
  }
}