.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-1);
  border-radius: 7px;
  box-shadow: var(--box-shadow-3);
  cursor: pointer;

  &--big {
    padding: 3.5rem 3rem;
  }

  &--small {
    font-family: var(--font-secondary);
    padding: 2rem;
    font-size: 2.2rem;
    text-shadow: 0 0 2px #000;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, var(--color-green-3), var(--color-green-1));
    justify-self: stretch;
  }

  &:hover {
    animation: panels-animation .5s;
  }

  &--orange {
    background-image: linear-gradient(to right, var(--color-orange-3), var(--color-orange-1));
  }

  &--blue {
    background-image: linear-gradient(to right, var(--color-blue-4), var(--color-blue-1));
  }

  &__icon {
    width: 4.2rem;
    height: 4.2rem;
    fill: var(--color-light-3);
    margin-right: .8rem;
  }
}