.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-1);
  border-radius: 7px;
  box-shadow: var(--box-shadow-3);
  cursor: pointer;

  &--big {
    padding: 3rem;
  }

  &--small {
    padding: 2rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, var(--color-green-3), var(--color-green-1));
  }

  &:hover {
    animation: panels-animation .5s;
  }

  &--orange {
    background-image: linear-gradient(to right, var(--color-orange-3), var(--color-orange-1));
  }

  &--blue {
    background-image: linear-gradient(to right, var(--color-blue-4), var(--color-blue-1));
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-light-3);
    margin-right: .8rem;
  }
}