.panel {
  text-align: center;
  color: var(--color-light-1);
  padding: 3rem;
  border-radius: 7px;
  align-items: center;
  box-shadow: var(--box-shadow-3);
  cursor: pointer;
  outline: none;
  border: none;

  &--big {
    padding: 3rem;
  }

  &--small {
    padding: 2rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, var(--color-green-3), var(--color-green-1));
  }

  &:hover {
    animation: panels-animation .5s;
  }

  &--orange {
    background-image: linear-gradient(to right, var(--color-orange-3), var(--color-orange-1));
  }

  &--blue {
    background-image: linear-gradient(to right, var(--color-blue-4), var(--color-blue-1));
  }
}