body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: #fff;
  line-height: 1.6;
}

// HEADINGS
%heading {
  font-weight: 400;
  font-family: var(--font-secondary);
  text-align: center;
}

.heading-1 {
  font-family: var(--font-h1);
  font-size: 8rem;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 0 3px #000;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  line-height: 1.3;
  padding: 0 1rem;
  text-shadow: 0 0 2px #000;
}