// FIRST PAGE
.introduction-container {
  background-image: linear-gradient(to bottom, rgb(30, 141, 231),rgb(43, 88, 161));
  display: grid;
  grid-template-rows: 15vh minmax(min-content, 85vh) max-content;
  justify-content: center;
  align-items: center;
}

.header {
  align-self: center;
}

// MAIN CONTENT
.intro-main {
  display: grid;
  grid-template-columns: minmax(min-content, .75fr) minmax(max-content, 1fr);
  justify-content: center;
  column-gap: 8rem;
  row-gap: 4rem;

  @include size(tab-port) {
    column-gap: 5rem;
  }

  @include size(phone) {
    grid-template-columns: 1fr;
  }

  &__left {
    align-self: center;
    justify-self: center;
  }

  &__earth {
    fill: rgb(40, 209, 40);
    filter: drop-shadow(0 0 4px #000);
    width: 25rem;
    height: 25rem;
    animation: earth-animation 3s infinite;

    @include size(phone) {
      width: 19rem;
      height: 19rem;
    }
  }

  &__right {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
  }

  &__button {
    width: 80%;
  }
}
