.profile-page {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  grid-template-rows: repeat(2, max-content);
}

.profile-heading {

  &__shape {
    display: grid;
    row-gap: 1rem;
    background-color: var(--color-light-2);
    padding: 2rem 3rem;
    border-radius: 90px;
    border: 1px solid var(--color-light-4);
    align-self: stretch;
    text-align: center;
  }

  &__nick {
    font-size: 4rem;
    color: var(--color-green-4);
    letter-spacing: 1px;
    font-weight: 300;
    background-color: var(--color-light-2);
    word-break: break-all;
    line-height: 1;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to right, var(--color-green-5),var(--color-green-2));
      color: transparent;
    }

    @include size(tab-port) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 22.5em){
      font-size: 3rem;
    }
  }

  &__email {
    font-size: 1.6rem;

    @media only screen and (max-width: 22.5em){
      font-size: 1.4rem;
    }
  }
}

.profile-sets-container {
  max-width: 120rem;
  width: 100%;
}

.profile-sets {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  align-items: start;
  justify-items: center;
  column-gap: 6rem;
  row-gap: 6rem;

  &__side {
    display: grid;
    row-gap: 3.5rem;
    width: 100%;
  }

  &__heading {
    line-height: 1;
    text-align: center;
    font-size: 2.2rem;
    color: var(--color-grey-2);
  }

  &__column {
    display: grid;
    row-gap: 2rem;
    width: 100%;
  }

  &__info {
    font-size: 1.6rem;
    text-align: center;
  }

  &__link {
    color: var(--color-grey-2);
  }
}