.profile-page {
  display: grid;
  grid-template-rows: 25vh;
  padding: 0;
  justify-items: center;
}

.profile-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f4f4f4;
  justify-self: stretch;

  &__text {
    font-size: 4.5rem;
    color: #333;
    letter-spacing: 1px;
    font-weight: 300;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to right, rgb(14, 151, 131),rgb(14, 206, 164));
      color: transparent;
    }
  }
}

.profile-sets-container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.profile-sets {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: start;
  justify-items: center;
  column-gap: 6rem;
  row-gap: 6rem;
  padding: 6rem 0;

  &__side {
    display: grid;
    row-gap: 3rem;
    padding: 2rem;
    width: 100%;
  }

  &__heading {
    text-align: center;
    font-size: 2.2rem;
    color: #444;
  }

  &__column {
    display: grid;
    row-gap: 2rem;
    width: 100%;
  }
}